.paginationContainer {
    width: 550px;
    display: flex;
    justify-content: space-evenly;
}

.pageBtn{
    background-color: black;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.activePageNo{
    color: black;
    background-color: white;
    border: 1px solid rgb(47, 255, 234);
}